{% extends 'base.html' %}

{% block styles %}

<style>
.grid-container {
  display: grid;
  justify-content: space-evenly;
   grid-template-columns: auto auto auto auto auto;
}
</style>

{% endblock %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header text-center">
                <h2>
                    Añadir Asignatura <i class="material-icons col-amber">add</i>
                    <small>Aquí podrá añadir una nueva asignatura a su coordinación</small>
                </h2>

            </div>
            <div class="body">
                <div class="row clearfix">
                    <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="col-sm-6 fieldWrapper">
                        <div class="form-group">
                            <div class="form-line">
                                <label for="form.codAsig.id_for_label">Código</label>
                                {{form.codAsig}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 fieldWrapper">
                        <div class="form-group">
                            <div class="form-line">
                                <label for="form.creditos.id_for_label">Créditos</label>
                                {{form.creditos}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 fieldWrapper">
                        <div class="form-group">
                            <div class="form-line text-center">
                                <label for="form.nomAsig.id_for_label">Denominación y Programa</label>
                                {{form.nomAsig}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 fieldWrapper">
                        <div class="form-group">
                            <div class="form-line">
                                <label for="form.codDpto.id_for_label">Departamento</label>
                                {{form.codDpto}}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 fieldWrapper">
                        <div class="form-group">
                            <div class="form-line">
                                <label for="form.prof.id_for_label">Profesor</label>
                                {{form.prof}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 fieldWrapper">
                        <div class="form-group">
                            <div class="form-line text-center">
                                <label for="form.progAsig.id_for_label">Programa</label>
                                {{form.progAsig}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 fieldWrapper">
                        <label for="form.vista.id_for_label">Vista</label>
                        {{form.vista}}
                    </div>
                    <div class="col-sm-12 fieldWrapper">
                        <div class="form-group">
                            <div class="form-line text-center">
                                <label for="form.diaHora.id_for_label">Horario</label>
                                {{form.diaHora}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 fieldWrapper">
                        <div class="form-group">
                            <div class="form-line text-center">
                                <label for="form.lun.id_for_label">Lunes</label>
                                {{ form.lun}}
                                {{ form.lun_inicio}}
                                {{ form.lun_fin}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 fieldWrapper">
                        <div class="form-group">
                            <div class="form-line text-center">
                                <label for="form.mar.id_for_label">Martes</label>
                                {{ form.mar}}
                                {{ form.mar_inicio}}
                                {{ form.mar_fin}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 fieldWrapper">
                        <div class="form-group">
                            <div class="form-line text-center">
                                <label for="form.mie.id_for_label">Miércoles</label>
                                {{ form.mie}}
                                {{ form.mie_inicio}}
                                {{ form.mie_fin}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 fieldWrapper">
                        <div class="form-group">
                            <div class="form-line text-center">
                                <label for="form.jue.id_for_label">Jueves</label>
                                {{ form.jue}}
                                {{ form.jue_inicio}}
                                {{ form.jue_fin}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 fieldWrapper">
                        <div class="form-group">
                            <div class="form-line text-center">
                                <label for="form.vie.id_for_label">Viernes</label>
                                {{ form.vie}}
                                {{ form.vie_inicio}}
                                {{ form.vie_fin}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 fieldWrapper">
                        <div class="form-group">
                            <div class="text-center">
                                <button type="submit" class="btn bg-amber waves-effect col-sm-12">
                                  <i class="material-icons">save</i>
                                    <span>Guardar</span>
                              </button>
                            </div>
                        </div>
                    </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}