{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="search-bar" onkeyup="myFunction()">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input id="myInput" type="text" placeholder="BUSCAR ASIGNATURA">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>ASIGNATURAS</h2>
        </div>

        <!-- Widgets -->
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-indigo hover-expand-effect hover-zoom-effect">
                    <div class="icon">
                        <i class="material-icons">clear_all</i>
                    </div>
                    <div class="content">
                        <div class="text">TODAS</div>
                        <div class="number count-to" data-from="0" data-to="{{ asignaturas|length }}" data-speed="1000" data-fresh-interval="0"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-light-green hover-expand-effect hover-zoom-effect">
                    <div class="icon">
                        <i class="material-icons">check</i>
                    </div>
                    <div class="content">
                        <div class="text">ACTIVAS</div>
                        <div class="number count-to" data-from="0" data-to="{{ asignaturas|length }}" data-speed="1000" data-fresh-interval="0"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-amber hover-expand-effect hover-zoom-effect">
                    <div class="icon">
                        <i class="material-icons">do_not_disturb_on</i>
                    </div>
                    <div class="content">
                        <div class="text">DESHABILITADAS</div>
                        <div class="number count-to" data-from="0" data-to="0" data-speed="2000" data-fresh-interval="1"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <!-- Task Info -->
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div class="card">
                    <div class="header">
                        <h2>ASIGNATURAS DE LA COORDINACIÓN</h2>
                    </div>
                    <div class="body">
                        
                        <div class="table-responsive">
                            <table id="myTable" class="table table-hover dashboard-task-infos text-center sortable">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <button style="background: transparent; border-style: none">
                                            Código</button>
                                        </th>
                                        <th class="text-center">
                                            <button style="background: transparent; border-style: none">
                                            Denominación y Programa</button>
                                        </th>
                                        <th class="text-center">
                                            <button style="background: transparent; border-style: none">
                                            Horario</button>
                                        </th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a in asignaturas %}
                                        <tr>
                                            <td><a href="{% url 'coordinaAsignaturas:detallesAsignatura' codAsig=a.codAsig %}">
                                                <b>{{ a.codAsig }}</b></a></td>
                                            <td><span class="">{{ a.nomAsig }}</span></td>
                                            <td>{{a.diaHora}}</td>
                                            <td>
                                                <a href="{% url 'coordinaAsignaturas:modificarAsignatura' codAsig=a.codAsig %}">
                                                <button type="button" data-toggle="tooltip" data-placement="top" title="Modificar" data-original-title="Editar" class="btn bg-indigo btn-circle waves-effect waves-circle waves-float">
                                                    <i class="material-icons">edit</i>
                                                </button></a>
                                                    <button type="button" data-toggle="modal" data-target="#{{a.codAsig}}" class="btn bg-red btn-circle waves-effect waves-circle waves-float">
                                                    <i class="material-icons">clear</i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                           <!-- <nav>
                                    <ul class="pager">
                                        <li class="previous">
                                            <a href="javascript:void(0);" class="waves-effect"><span aria-hidden="true">←</span> Anterior</a>
                                        </li>
                                        <li class="next">
                                            <a href="javascript:void(0);" class="waves-effect">Siguiente <span aria-hidden="true">→</span></a>
                                        </li>
                                    </ul>
                                </nav>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="align-center">
                <form method='post'>
                    <h5>Buscar</h5>
                    <a href="javascript:void(0);" class="js-search" data-close="true"><button type="button" class="btn bg-indigo btn-circle-lg waves-effect waves-circle waves-float">
                    <i class="material-icons">search</i>
                    </button></a>
                </form>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="align-center">
                <form method='post'>
                    <h5>Nueva</h5>
                    <a href="{% url 'coordinaAsignaturas:agregarAsignatura' %}">
                    <button type="button" class="btn bg-indigo btn-circle-lg waves-effect waves-circle waves-float">
                        <i class="material-icons">add</i>
                    </button></a>
                </form>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="align-center">
                <form method='post'>
                    <h5>Existente</h5>
                    <a href="{% url 'coordinaAsignaturas:listaTodasAsignaturas' %}">
                    <button type="button" class="btn bg-indigo btn-circle-lg waves-effect waves-circle waves-float">
                        <i class="material-icons">add_to_photos</i>
                    </button></a>
                </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="card">
                    <div class="header bg-orange">
                        <h2>
                            Sistema Gestor de Asignaturas <small>Lee la Descripción</small>
                        </h2>
                    </div>
                    <div class="body">
                        El sistema gestor de asignaturas permite a la coordinación llevar un control ordenado, limpio, sencillo y eficaz para la admnistración y control de asignaturas y ofertas.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="card">
                    <div class="header bg-orange">
                        <h2>
                            Módulo de Asignaturas <small>Lee la Descripción</small>
                        </h2>
                    </div>
                    <div class="body">
                        En el módulo de asginaturas podrás agregar nuevas asignaturas  personalmente o tomarlas de una lista de asignaturas creadas. También, podrás modificarlas, eliminarlas y acceder a su información detallada.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="card">
                        
                            <div class="header bg-orange">
                                <h2>
                                    Módulo de Ofertas <small>Lee la Descripción</small>
                                </h2>
                            </div>
                        
                        <div class="body">
                            En el módulo de ofertas podrás agregar nuevas ofertas a tu coordinación. También, podrás modificarlas, eliminarlas y acceder a su información detallada. <br>
                            <div class="text-left">
                                 <a href="{% url 'coordinaAsignaturas:oferta' %}"><button type="button" class="btn bg-amber waves-effect">Ir a ofertas</button></a>
                            </div>
                           
                        </div>
                    </div>
                
            </div>
            {% for a in asignaturas %}
                <div class="modal fade" id="{{a.codAsig}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header text-center">
                        <i class="material-icons">warning</i>
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar Asignatura: {{a.nomAsig}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-center">
                        ¿Está seguro que desea eliminar de su coordinación la asignatura {{a.nomAsig}}?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a href="{% url 'coordinaAsignaturas:eliminarAsignatura' codAsig=a.codAsig %}"><button type="button" class="btn btn-danger">Eliminar</button></a>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}
