Aas>postgradociencias@usb.ve</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Perfil</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">business</i>Asignaturas</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">subject</i>Ofertas Académicas</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">OPCIONES</li>
                    <li class="">
                        <a href="index.html">
                            <i class="material-icons">home</i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'coordinaAsignaturas:verAsignatura' %}">
                            <i class="material-icons">business</i>
                            <span>Asignaturas</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="material-icons">toc</i>
                            <span>Programas</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="material-icons">subject</i>
                            <span>Ofertas</span>
                        </a>
                    </li>

                </ul>
            </div>
        </aside>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="header">
                    <h2>
                        Detalles de  Evaluación del Impacto ambiental del Desarrollo <i class="material-icons col-amber">search</i>
                        <small>Aquí podrás añadir una nueva asignatura a tu coordinación</small>
                    </h2>
    
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="" placeholder="{{ asignatura.codAsig }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="" placeholder="{{ asignatura.creditos }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="" placeholder="{{ asignatura.prof.nomProf }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="" placeholder="{{ asignatura.nomAsig }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="" placeholder="{{ asignatura.diaHora }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" value="" placeholder="{{ asignatura.progAsig }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                    <a href="{% url 'coordinaAsignaturas:modificarAsignatura' codAsig=asignatura.codAsig %}"><button type="button" class="btn bg-amber waves-effect waves-amber .align-right">
                        <i class="material-icons">edit</i>
                        <span>Editar</span>
                    </button></a>
                    <button type="button" class="btn bg-red waves-effect waves-red .align-right">
                        <i class="material-icons">delete</i>
                        <span>Eliminar</span>
                    </button>
                </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Jquery Core Js -->
   <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Select Plugin Js -->

    <!-- Slimscroll Plugin Js -->
    <script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    
    <!-- Jquery Validation Plugin Css -->
    <script src="{% static 'plugins/jquery-validation/jquery.validate.js' %}"></script>
    
    <!-- JQuery Steps Plugin Js -->
    <script src="{% static 'plugins/jquery-steps/jquery.steps.js' %}"></script>

    <!-- Sweet Alert Plugin Js -->
    <script src="{% static 'plugins/sweetalert/sweetalert.min.js' %}"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'plugins/node-waves/waves.js' %}"></script>

    <!-- Morris Plugin Js -->
    <script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'plugins/morrisjs/morris.js' %}"></script>

    <!-- ChartJs -->
    <script src="{% static 'plugins/chartjs/Chart.bundle.js' %}"></script>
    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static 'plugins/jquery-countto/jquery.countTo.js' %}"></script>


    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/admin.js' %}"></script>

    <!-- Demo Js -->
    <script src="{% static 'js/demo.js' %}"></script>
</body>

</html>