{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header text-center">
                <h2>
                    Detalles de: {{asignatura.nomAsig}} <i class="material-icons col-amber">search</i>
                    <small>Aquí podrás ver los detalles de esta asignatura</small>
                </h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <form method="POST" class="post-form">{% csrf_token %}
                            <div class="col-sm-6 fieldWrapper">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="asignatura.codAsig.id_for_label">
                                        Código: </label>
                                        {{asignatura.codAsig}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 fieldWrapper">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="asignatura.creditos.id_for_label">
                                        Créditos: </label>
                                        {{asignatura.creditos}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 fieldWrapper">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="asignatura.nomAsig.id_for_label">
                                        Denominación y Programa: </label>
                                        {{asignatura.nomAsig}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 fieldWrapper">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="asignatura.codDpto.id_for_label">
                                        Departamento: </label>
                                        {{asignatura.codDpto}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 fieldWrapper">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="asignatura.prof.id_for_label">
                                        Profesor: </label>
                                        {{asignatura.prof}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 fieldWrapper">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="asignatura.progAsig.id_for_label">
                                        Programa: </label>
                                        <a href="{% get_media_prefix %}./{{asignatura.progAsig}}" target="_blank">
                                        PDF</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 fieldWrapper">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="asignatura.vista.id_for_label">
                                        Vista: </label>
                                        {% if asignatura.vista %}
                                            Sí
                                        {% else %}
                                            No
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 fieldWrapper">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="asignatura.diaHora.id_for_label">
                                        Horario: </label>
                                        {{asignatura.diaHora}}
                                    </div>
                                </div>
                            </div>
                         <div class="col-sm-6 fieldWrapper">
                            <div class="form-group">
                                <div class="text-center">
                                    <a href="{% url 'coordinaAsignaturas:modificarAsignatura' codAsig=asignatura.codAsig %}">
                                        <button type="button" class="btn bg-indigo waves-effect col-sm-12">
                                              <i class="material-icons">edit</i>
                                                <span>Editar</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 fieldWrapper">
                            <div class="form-group">
                                <div class="text-center">
                                        <button type="button" data-toggle="modal" data-target="#{{asignatura.codAsig}}" class="btn bg-red waves-effect col-sm-12">
                                        <i class="material-icons">clear</i>
                                            <span>Eliminar</span>
                                        </button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- PopUp de confirmación para eliminar una asignatura -->
<div class="modal fade" id="{{asignatura.codAsig}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header text-center">
    <i class="material-icons">warning</i>
    <h5 class="modal-title" id="exampleModalLabel">Eliminar Asignatura: {{asignatura.nomAsig}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    ¿Está seguro que desea eliminar de su coordinación la asignatura {{asignatura.nomAsig}}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <a href="{% url 'coordinaAsignaturas:eliminarAsignatura' codAsig=asignatura.codAsig %}"><button type="button" class="btn btn-danger">Eliminar</button></a>
  </div>
</div>
</div>
</div>

{% endblock %}

