


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header text-center">
                <h2>
                    <h3>Detalles de la Oferta: <b>{{oferta_info}}</b><i class="material-icons col-amber">search</i></h3> 
                    <small>Aquí podrás ver los detalles de esta oferta</small>
                </h2>

            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <form method="POST" class="post-form">
                            {% csrf_token %}
                            <div class="col-sm-12 fieldWrapper">
                                <div class="form-group">
                                    <div class="form-line text-center">
                                        <label for="oferta_info.coordinacion"><h4>Coordinación:</h4> </label>
                                        {{oferta_info.coordinacion}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 fieldWrapper">
                                <div class="form-group">
                                    <div class="form-line text-center">
                                        <label for="oferta_info.trimestre"><h5>Trimestre:</h5> </label>
                                        {{oferta_info.trimestre}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 fieldWrapper">
                                <div class="form-group">
                                    <div class="form-line text-center">
                                        <label for="oferta_info.anio"><h5>Año:</h5> </label>
                                        {{oferta_info.anio}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 fieldWrapper">
                                <div class="form-group">
                                    <div class="form-line text-center">
                                    	<label for="asignaturas"><h4>Asignaturas:</h4> </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 fieldWrapper">
                                <div class="form-group text-center">
										<ul class="list-group">
											{% for mat in materiasOfertadas %}
			                                <li class="list-group-item">
			                                	<a href="{% url 'coordinaAsignaturas:detallesAsignatura' codAsig=mat.codAsig %}" style="color:#555"><b>Código:</b> {{ mat.codAsig }}, <b>Nombre:</b> {{ mat.nomAsig }}
												</a><span class="badge bg-amber">{{ mat.creditos }} Créditos</span>
			                                </li>
			                                {% endfor %}
			                            </ul>
                                </div>
                            </div>
                         <div class="col-sm-6 fieldWrapper">
                            <div class="form-group">
                                <div class="text-center">
                                    <a href="{% url 'coordinaAsignaturas:modificarOferta' oferta_id=oferta_info.id %}">
                                        <button type="button" class="btn bg-indigo waves-effect col-sm-12">
                                              <i class="material-icons">edit</i>
                                                <span>Editar</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 fieldWrapper">
                            <div class="form-group">
                                <div class="text-center">
                                        <button type="button" class="btn bg-red waves-effect col-sm-12" data-toggle="modal" data-target="#{{oferta_info.id}}">
                                        <i class="material-icons">clear</i>
                                            <span>Eliminar</span>
                                        </button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="{{oferta_info.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <i class="material-icons">warning</i>
            <h5 class="modal-title" id="exampleModalLabel">Eliminar Oferta</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            ¿Está seguro que desea eliminar de su coordinación esta oferta académica?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a href="{% url 'coordinaAsignaturas:eliminarOferta' oferta_id=oferta_info.id %}"><button type="button" class="btn btn-danger">Eliminar</button></a>
          </div>
        </div>
    </div>
</div>
