{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>INICIO</h2>
        </div>

        <div class="row clearfix">
            <!-- Task Info: La idea de este template es hacer un dahsboard inicial de bienvenida
            que muestre las principales opciones que tiene el usuario al ingresar al sistema -->
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div class="card">
                    <div class="header">
                        <h2>ASIGNATURAS ACTUALES</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Código</th>
                                        <th>UC</th>
                                        <th>Denominación y Programa</th>
                                        <th>Profesor</th>
                                        <th>Programa</th>
                                        <th>Horario</th>
                                    </tr>
                                </thead>
                                 <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>EA-7431</td>
                                        <td>3</td>
                                        <td><span class="">Evaluación del Impacto ambiental del Desarrollo</span></td>
                                        <td>Prof. Rafael Lairet</td>
                                        <td>5601-E</td>
                                        <td>Martes 7-9</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>EA7522</td>
                                        <td>3</td>
                                        <td><span class="">TOPICO II: LOS RIESGOS DEL CAMBIO CLIMÁTICO. EVALUACIÓN Y MANEJO.</span></td>
                                        <td>ALICIA VILLAMIZAR</td>
                                        <td>5600-E</td>
                                        <td>Martes 3-5</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>CE-7288</td>
                                        <td>3</td>
                                        <td><span class="">Modelos de políticas  públicas  I</span></td>
                                        <td>Prof. Marino González</td>
                                        <td>5600-E</td>
                                        <td>Martes 4-7</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>CE-6217</td>
                                        <td>3</td>
                                        <td><span class="">Economía Ambiental y de los Recursos Naturales</span></td>
                                        <td>Prof. Yazenia Frontado</td>
                                        <td>5601-O</td>
                                        <td>Lunes 7-9</td>
                                    </tr>
                                </tbody>
                            </table>
                                <nav>
                                    <ul class="pager">
                                        <li class="previous">
                                            <a href="javascript:void(0);" class="waves-effect"><span aria-hidden="true">←</span> Anterior</a>
                                        </li>
                                        <li class="next">
                                            <a href="javascript:void(0);" class="waves-effect">Siguiente <span aria-hidden="true">→</span></a>
                                        </li>
                                    </ul>
                                </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="align-center">
                    <h5>Ver Asignaturas</h5>
                    <a href="{% url 'coordinaAsignaturas:verAsignaturas' %}"><button type="button" class="btn bg-amber btn-circle-lg waves-effect waves-circle waves-float">
                        <i class="material-icons">business</i>
                    </button></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="header bg-amber">
                        <h2>
                            Trimestre Actual<small>Abr-Jul 2018</small>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos">
                                <thead>
                                    <tr>
                                        <th>Descripción</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>PERÍODO DE CLASES</td>
                                        <td>16 de Abr - 06 de Jul</td>
                                    </tr>
                                    <tr>
                                        <td>CORRECCIÓN DE INSCRIPCIÓN</td>
                                        <td>13 de Abr</td>
                                    </tr>
                                    <tr>
                                        <td>ÚLTIMO DÍA ENTREGA DE ACTAS</td>
                                        <td>09 de Jul</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="header bg-amber">
                        <h2>
                            Ofertas Creadas
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos">
                                <thead>
                                    <tr>
                                        <th>Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Oferta A</td>
                                    </tr>
                                    <tr>
                                        <td>Oferta B</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="header bg-amber">
                        <h2>
                            Proximos Períodos
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos">
                                <thead>
                                    <tr>
                                        <th>Descripción</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Intensivo 2018</td>
                                        <td>Jul-Ago 2018</td>
                                    </tr>
                                    <tr>
                                        <td>Sep-Dic 2018</td>
                                        <td>7 Sep-15 Dic</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Task Info -->
            
        </div>
    </div>
</section>

{% endblock %}
