{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="search-bar" onkeyup="myFunction()">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input id="myInput" type="text" placeholder="BUSCAR ASIGNATURA">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>ASIGNATURAS</h2>
        </div>

        <div class="row clearfix">
            <!-- Task Info -->
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div class="card">
                    <div class="header text-center">
                        <h2>AÑADIR ASIGNATURAS<i class="material-icons col-amber">add</i></h2>
                        <span>Aquí podrás agregar asignaturas existentes a tu coordinación</span>
                    </div>
                    <div class="body">
                        
                        <div class="table-responsive">
                            <table id="myTable" class="table table-hover dashboard-task-infos text-center sortable">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <button style="background: transparent; border-style: none">
                                            Código</button>
                                        </th>
                                        <th class="text-center">
                                            <button style="background: transparent; border-style: none">
                                            Denominación</button>
                                        </th>
                                        <th class="text-center">
                                            <button style="background: transparent; border-style: none">
                                            Programa</button>
                                        </th>
                                        <th class="text-center">Añadir</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a in asignaturas %}
                                        <tr>
                                            <td><a href="{% url 'coordinaAsignaturas:detallesAsignatura' codAsig=a.codAsig %}">
                                                {{ a.codAsig }}</a></td>
                                            <td><span class="">{{ a.nomAsig }}</span></td>
                                            <td>{{a.progAsig}}</td>
                                            <td>
                                                <a href="{% url 'coordinaAsignaturas:agregarACoord' codAsig=a.codAsig%}">
                                                    <button type="button" data-toggle="tooltip" data-placement="top" title="Añadir" data-original-title="Editar" class="btn bg-green btn-circle waves-effect waves-circle waves-float">
                                                    <i class="material-icons">add</i>
                                                </button></a>
                                                </button></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                           <!-- <nav>
                                    <ul class="pager">
                                        <li class="previous">
                                            <a href="javascript:void(0);" class="waves-effect"><span aria-hidden="true">←</span> Anterior</a>
                                        </li>
                                        <li class="next">
                                            <a href="javascript:void(0);" class="waves-effect">Siguiente <span aria-hidden="true">→</span></a>
                                        </li>
                                    </ul>
                                </nav>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="align-center">
                <form method='post'>
                    <a href="javascript:void(0);" class="js-search" data-close="true"><button type="button" class="btn bg-indigo btn-circle-lg waves-effect waves-circle waves-float">
                    <i class="material-icons">search</i>
                    </button></a>
                </form>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="mdModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="defaultModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
                        vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                        Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                        nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                        Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}
