{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sistema de Gestión de Postgrado USB</title>

	<!-- Instala bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}" />

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
	<!-- Formulario para el inicio de sesion -->
	<form class="login-form" method="post">
	  <p class="login-text">
		<span class="fa-stack fa-lg">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-lock fa-stack-1x"></i>
		</span>
	  </p>
	  <div align="center">{% csrf_token %}
          <br>
		  <!-- Se carga el form django. Cada input se carga individualmente y son capturados por el boton de ingresar -->
		  {{ form.username }}
		  <br>
		  {{ form.password }}
		  <button type="submit" name="Login" value="Iniciar Sesión" class="login-submit" />Ingresar</button>
	  </div>
	  
	<a href="#" class="login-forgot-pass">¿Olvidaste tu contraseña?</a>
	</form>
	<div class="underlay-photo"></div>
	<div class="underlay-black"></div> 
	
	<!-- Jquery Core Js -->
   <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
   <script>
   	$('#id_username').attr('placeholder','Correo')
   	$('#id_password').attr('placeholder','Contraseña')
   </script>
</body>
</html>