{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>OFERTAS</h2>
        </div>

        <!-- Widgets
        <div class="row clearfix">>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-cyan hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">clear_all</i>
                    </div>
                    <div class="content">
                        <div class="text">TODAS</div>
                        <div class="number count-to" data-from="0" data-to="4" data-speed="2000" data-fresh-interval="2"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-light-green hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">check</i>
                    </div>
                    <div class="content">
                        <div class="text">ACTIVAS</div>
                        <div class="number count-to" data-from="0" data-to="4" data-speed="2000" data-fresh-interval="2"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">do_not_disturb_on</i>
                    </div>
                    <div class="content">
                        <div class="text">DESHABILITADAS</div>
                        <div class="number count-to" data-from="0" data-to="0" data-speed="2000" data-fresh-interval="1"></div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row clearfix">
            <!-- Task Info -->
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div class="card">
                    <div class="header">
                        <h2>OFERTAS DEL DEPARTAMENTO</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Descripción</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Oferta para Trimestres Sep-Dic</td>
                                        <td>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Ver más" data-original-title="Ver más" class="btn bg-amber btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">search</i>
                                            </button>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" data-original-title="Editar" class="btn bg-amber btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Quitar" data-original-title="Quitar" class="btn bg-red btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">clear</i>
                                            </button>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Oferta para Trimestres Ene-Mar</td>
                                        <td>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Ver más" data-original-title="Ver más" class="btn bg-amber btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">search</i>
                                            </button>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" data-original-title="Editar" class="btn bg-amber btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Quitar" data-original-title="Quitar" class="btn bg-red btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">clear</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Oferta para Trimestres Abr-Jul</td>
                                        <td>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Ver más" data-original-title="Ver más" class="btn bg-amber btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">search</i>
                                            </button>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" data-original-title="Editar" class="btn bg-amber btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Quitar" data-original-title="Quitar" class="btn bg-red btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">clear</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Intensivos</td>
                                        <td>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Ver más" data-original-title="Ver más" class="btn bg-amber btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">search</i>
                                            </button>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Editar" data-original-title="Editar" class="btn bg-amber btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Quitar" data-original-title="Quitar" class="btn bg-red btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">clear</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="align-center">
                    <h5>Añadir Nueva Oferta</h5>
                    <button type="button" class="btn bg-green btn-circle-lg waves-effect waves-circle waves-float">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>

        </div>
    </div>
        <div class="modal fade" id="mdModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="defaultModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
                        vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                        Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                        nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                        Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}
